/* body {
  font-family: sans-serif;
  background-color: #d9d9d9;
}
header {
  background-color: #d11aff;
  color: #39e600;
  font-size: 12px;
  text-align: left;
  text-shadow: 3px 2px 2px black;
  padding-top: 2px;
  padding-bottom: 2px;
} */
